<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" th:fragment="bodyHeader">
    <a class="navbar-brand" href="/">Scrapbook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Category
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/article/board/1">IT</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/article/board/2">외국어</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/article/board/3">경제</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/article/board/4">문화</a>
                </div>
            </li>
        </ul>

        <div class="btn-group mr-2">
            <a href="/member/myInfo" class="btn btn-light">
                <i class="far fa-user"></i>
            </a>
            <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
            </button>
            <div class="dropdown-menu">
                <div sec:authorize="isAnonymous()">
                    <a class="dropdown-item" href="/member/signUp">
                        회원가입
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/member/signIn">
                        로그인
                    </a>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <a class="dropdown-item" href="/article/new">글쓰기</a>
                    <div class="dropdown-divider"></div>
                    <form method="POST" class="form-inline my-2 my-lg-0" th:action="@{/member/signOut}">
                        <input sec:authorize="isAuthenticated()" type="submit" value="로그아웃" class="dropdown-item" />
                    </form>
                </div>
            </div>
        </div>

        <form class="form-inline my-2 my-lg-0" action="/article/search">
            <input type="hidden" name="bId" value="0">
            <input type="hidden" name="idx" value="0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" name="qr" required>
            <button class="btn btn-outline-success my-2 mr-2 my-sm-0" type="submit">Search</button>
        </form>


    </div>
</nav>
