<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eunhasoo.board.mapper.UserMapper">

    <select id="findIdByName" resultType="int">
        SELECT id FROM user
        WHERE name LIKE CONCAT('%', #{name}, '%')
    </select>

    <select id="findById" resultType="User">
        SELECT loginId, password, userType, id, name, email
        FROM user
        WHERE loginId = #{loginId}
    </select>

    <select id="findByEmail" resultType="User">
        SELECT id
        FROM user
        WHERE email = #{email}
    </select>
    
    <select id="findIfExistByNickname" resultType="int">
        SELECT id FROM user
        WHERE name = #{nickname}
    </select>

    <select id="findIfExistByEmail" resultType="int">
        SELECT id FROM user
        WHERE email = #{email}
    </select>

    <select id="findIfExistByLoginId" resultType="int">
        SELECT id FROM user
        WHERE loginId = #{loginId}
    </select>

    <select id="getArticlesById" resultType="com.eunhasoo.board.controller.dto.UsersArticle">
        SELECT a.id, a.title, a.body, a.createDate
        FROM article a INNER JOIN user u ON a.userId = u.id
        WHERE u.id = #{userId}
        ORDER BY a.createDate DESC
    </select>

    <select id="getCommentsById" resultType="com.eunhasoo.board.controller.dto.UsersComment">
        SELECT c.modifiedDate, c.id, c.body, a.title as articleTitle, a.id as articleId
        FROM comment c INNER JOIN user u ON c.userId = u.id
        INNER JOIN article a ON c.articleId = a.id
        WHERE u.id = #{userId}
        ORDER BY c.createDate DESC
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="User">
        INSERT INTO user(loginId, password, `name`, email, userType, enabled)
        VALUES (#{loginId}, #{password}, #{name}, #{email}, 'MEMBER', 0)
    </insert>

    <update id="update" parameterType="com.eunhasoo.board.domain.User">
        UPDATE user
        SET
        <if test="password != ''">
            password = #{password},
        </if>
        name = #{name}
        WHERE loginId = #{loginId}
    </update>

</mapper>